.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.form-container {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: -20vh;
  position: relative; /* Make container relative for absolute positioning of image */
}

.logo-img {
  position: absolute;
  top: 500px; /* Adjust top position as needed */
  left: 50%; /* Center image horizontally */
  transform: translateX(-50%); /* Center image horizontally */
  width: 100px; /* Set width of the image */
  height: auto; /* Maintain aspect ratio */
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.submit-button {
  float: right;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add additional styles as needed */
