.home-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100vh; /* Full viewport height */
}


.home-banner-container {
  display: flex;
  justify-content: center;
}

.home-text-image-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.home-text-section {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.home-image-section {
  flex: 1;
}

.banner-image {
  max-width: 100%;
  height: auto;
}

.home-text-image-container.fade-in-left {
  animation: fadeInLeft 1s ease-in-out forwards;
}

.home-image-section.fade-in-right {
  animation: fadeInRight 1s ease-in-out forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Home.css */
.carousel-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 400px; /* Set max height to match image2 */
}


