/* Home.css */
body {
  background-color: black; /* This sets the background color of the entire page to black */
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  background-color: rgb(1, 5, 14);
}

.home-text {
  max-width: 600px;
  margin: 0 auto;
}

.options-container {
  margin-top: 60px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  margin-right: 10px; /* Add margin-right for spacing */
}

.btn:last-child {
  margin-right: 0; /* Remove margin-right from last button */
}

.btn:hover {
  transform: scale(1.1);
}

.square-image {
  
  
  width: 600px; /* Set your desired square size */
  height: 600px; /* Set your desired square size */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin: 0 auto; /* Center-align the images horizontally */
}
.carousel-container {
  position: relative;
}

.carousel {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
