.center-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}


  .form-container {
    width: 60%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
  }
  
  .logo-img {
    width: 100px;
    height: auto;
    margin-top: 100px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .delete-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dc3545; /* Red background color */
    color: #fff;
    border: 1px solid #dc3545;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .delete-btn:hover {
    background-color: #fff;
    color: #dc3545; /* Red text color on hover */
  }
  
  