.container5 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('../images/img02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  